<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Owners</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/createOwner">Create owner</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/createCar">Create car</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/createAccount">Create account</a>
        </li>
    </ul>
</nav>
<div class="container">
    <form action="/createCar" method="post">
        <div class="form-group">
            <label for="color">Color: </label>
            <input id="color" class="form-control" name="color" type="text">
        </div>
        <div class="form-group">
            <label for="brand">Brand: </label>
            <input type="text" id="brand" class="form-control" name="brand">
        </div>
        <div class="form-group">
            <label for="model">Model: </label>
            <input type="text" id="model" class="form-control" name="model">
        </div>
        <div class="form-group">
            <label for="speed">Max speed: </label>
            <input type="number" id="speed" class="form-control" name="speed">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>