<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Owners</title>
</head>
<body>
    <div class="container">
        <table class="table table-striped table-hover ">
            <thead class="thead-dark">
            <tr>
                <th>Owners name</th>
                <th>Owners social security number</th>
                <th>Bank accounts</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.getOwnerName()}"></td>
                <td th:text="${owner.getSocialSecurityNumber()}"></td>
                <td><span th:each="account : ${owner.getOwnedBankAccounts()}" th:text="${account.getAccountNumber() } + ', '"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>